/data/pretrain/*
/data/sft/**/*
/data/dpo/**/*
/data/reasoning/cache
/data/benchmark/**/*
/result
/cache
/dpo_hf*
/dpo_padding*
/accelerate_config.yaml
/model/fa_test.py
__pycache__
.vscode
.DS_Store
*.nvcudmp